component: scf
name: yiqingbili
inputs:
  name: yiqingbili
  runtime: Nodejs16.13
  region: ap-guangzhou
  handler: index.handler
  memorySize: 512
  timeout: 300
  environment:
    variables:
      NODE_ENV: production
  events:
    - apigw:
        parameters:
          protocols:
            - https
            - http
          serviceName: yiqingbili-api
          description: YiQingBili API Gateway
          environment: release
          endpoints:
            - path: /
              method: ANY
            - path: /{proxy+}
              method: ANY

